.reg {
  background: url("../images/Eregister.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.reg-form {
  /* background-color: #000000e9; */
  /* background-color: #454545; */

}
